In [4]:
#Explicit TypeCasting
a="Anupam"
age=20
s=" is"
o="Year Old"
total=a+s+" "+str(age)+" "+o
print(total)

Anupam is 20 Year Old

In [5]:
# List In Python ==Changable,Ordered and Allowed Duplicate values
a=["Anshu","Snehal","Anurag","Vedant","Shubh"]
print(a)
print(len(a))

['Anshu', 'Snehal', 'Anurag', 'Vedant', 'Shubh']
5

In [6]:
list1 = ["abc", 34, True, 40, "male"]
print(list1+a)

['abc', 34, True, 40, 'male', 'Anshu', 'Snehal', 'Anurag', 'Vedant', 'Shubh']

In [7]:
print(type(list1))

<class 'list'>

In [8]:
print(a[1] + " And "+a[0]+ " are good friends")

Snehal And Anshu are good friends

In [9]:
print(a[-1]+": It is the Last Element from the list")

Shubh: It is the Last Element from the list

In [10]:
thislist = ["apple", "banana", "cherry"]
print(f"The old list is: {thislist}")
thislist[1] = "blackcurrant"
print(f"The new list is: {thislist}")

The old list is: ['apple', 'banana', 'cherry']
The new list is: ['apple', 'blackcurrant', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [12]:
# Append-Add elrement at the end
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [13]:
a=["Anupam","Snehal","Vedant","Anurag"]
a.append("Shubh")
print(a)

['Anupam', 'Snehal', 'Vedant', 'Anurag', 'Shubh']

In [14]:
a=["Anupam","Snehal","Vedant","Anurag"]
a.insert(0,"Anshu")
print(a)

['Anshu', 'Anupam', 'Snehal', 'Vedant', 'Anurag']

In [20]:
# To merge two list in python we use EXTEND
a1=["Ronu","Sonu"]
a2=["Ramu","Shyamu"]
a3=a1+a2
a1.extend(a2)
print("This is using Extend:",a1)
print("How are they different:",a3)

This is using Extend: ['Ronu', 'Sonu', 'Ramu', 'Shyamu']
How are they different: ['Ronu', 'Sonu', 'Ramu', 'Shyamu']

In [21]:
# Remove() - removes the first occurance of any object..

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [22]:
#Pop is used to delete the specific element from the desired position

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [23]:
# pop function is used to delete the last element from the list when no parameter is passed
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [24]:
# Del is used to delete the specific(Indexed) or entire list
thislist = ["apple", "banana", "cherry"]
del thislist

In [25]:
# Clear keeps the list same but delete the content (Like Truncket)

In [27]:
# Python-Loop List
thislist = ["Apple", "Banana", "Cherry"]
for x in thislist:
  print(x)

Apple
Banana
Cherry

In [30]:
a=["E",'A','C','D']
a.sort()
print(a)

['A', 'C', 'D', 'E']

In [33]:
num=[54,65,42,48,85,99]
num.sort()
print("The Ascending order is:",num)

#Reverse Sorting (descending
num.sort(reverse=True)
print("The Descending order is:",num)

The Ascending order is: [42, 48, 54, 65, 85, 99]
The Descending order is: [99, 85, 65, 54, 48, 42]

In [35]:
 # the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [37]:
# reversing the List
thislist.reverse()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']