In [35]:
## Copying list
a=[1,3,3,4,5,6]
b=a.copy()
print(b)

[1, 3, 3, 4, 5, 6]

In [36]:
#List Join
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [37]:
# The Tuple - Ordered ,Unchangable and Allowed Duplicates

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [38]:
a=("Anupam","Shubh","Anupam")
print(a)

('Anupam', 'Shubh', 'Anupam')

In [39]:
thistuple = ("apple",) # Comma lagana iss must
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [40]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [41]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [42]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [43]:
# As it is unchangable so we need to convert this into the list then again into the tuple
a=(1,2,3,4,4,5)
b=list(a)
b[4]=5
b[5]=6
b=tuple(b)
print(b)

(1, 2, 3, 4, 5, 6)

In [44]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [45]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [46]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [47]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [48]:
# Set in Python - Unordered, unchangable, no duplicate

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [49]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana', 'orange'}

In [50]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [51]:
# | is used to join two sets

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [52]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset=set1.union(set2,set3,set4)
print(myset)

{'cherry', 1, 2, 3, 'c', 'bananas', 'a', 'John', 'apple', 'Elena', 'b'}

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [56]:
# FrozenSet
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [57]:
# Dictionary - Changable ,No Duplicates and Unordered
anu={
    "a":"Anupam",
    "b":"Shubh",
    "c":"Parth"
}
print(anu)
print(anu["a"])
print(anu["b"])
print(anu["c"])
print(len(anu))

{'a': 'Anupam', 'b': 'Shubh', 'c': 'Parth'}
Anupam
Shubh
Parth
3

In [58]:
thisdict = dict(name = "Anupam", age = 20, country = "India")
print(thisdict)

{'name': 'Anupam', 'age': 20, 'country': 'India'}

In [59]:
x=thisdict.get("name")
print(x)

Anupam

In [60]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [61]:
x=thisdict.values()

In [62]:
# Changing the Values using two different methods

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("Value before the updataion :",thisdict)
thisdict["year"] = 2018
print("Value after the updataion :",thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("Value before the updataion :",thisdict)
thisdict.update({"year": 2020})
print("Value after the updataion :",thisdict)

Value before the updataion : {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Value after the updataion : {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
Value before the updataion : {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Value after the updataion : {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}