In [1]:
# Dictionaries in Python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [4]:
# Removing the Specified element from the Element
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [5]:
# It removes the Last element from the Dict...
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [9]:
child1 = {
  "name" : "Anupam",
  "year" : 2005
}
child2 = {
  "name" : "Snehal",
  "year" : 2006
}
child3 = {
  "name" : "Shubh",
  "year" : 2005
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Anupam', 'year': 2005}, 'child2': {'name': 'Snehal', 'year': 2006}, 'child3': {'name': 'Shubh', 'year': 2005}}

In [14]:
# IF ELSE

score=int(input("Enter Your Score:"))

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Enter Your Score:89
Grade: B

In [17]:
username = input("Enter your Name:")

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Enter your Name:Anupam
Welcome, Anupam !

In [18]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

In [19]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [20]:
username = "Emil"
password = "python123"
is_active = True

if username:
  if password:
    if is_active:
      print("Login successful")
    else:
      print("Account is not active")
  else:
    print("Password required")
else:
  print("Username required")

Login successful

In [21]:
# pass condition do the same work as Continue does

age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

In [27]:
# Match expression is same as the Switch Case Statements....
day=int(input("Enter the Desired Day: "))
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
 ## default :
   ## print("Invalid Day")
  case _:
    print("Enter a valid day")

Enter the Desired Day: 8
Enter a valid day

In [28]:
day=int(input("Enter the ValidNo.:"))
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Enter the ValidNo.:5
Today is a weekday

In [29]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

In [31]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5