In [7]:
count=1
while count<=5:
  print("Hello",count)
  count+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [12]:
i=1
while i<=5:
  print(i)
  i+=1
print("Loop Ended")

1
2
3
4
5
Loop Ended

In [16]:
i=5
while i>=1:
  print(i)
  i-=1
print("Loop Ended")

5
4
3
2
1
Loop Ended

In [20]:
# Print Numbers from 1 to 100
i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
# Print number from 100 to 1
i=100
while i>=1:
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [22]:
# Print a multiplication table of N
i=1
n=int(input("Enter the Num.:"))
while i<=10:
  print(n*i)
  i+=1

Enter the Num.:5
5
10
15
20
25
30
35
40
45
50

In [23]:
# Print the following numbers...[1,4,9,16,25,36,49,64,81,100]
i=1
while i<=10:
  print(i*i)
  i+=1

1
4
9
16
25
36
49
64
81
100

In [2]:
# Search for a number X in the tuple [1,4,9,16,25,36,49,64,81,100]..
t = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x=int(input("Enter the number to Search:"))
if x in t:
  print(x,"is Present in",t)
else :
  print(x,"is not present in",t)

Enter the number to Search:9
9 is Present in (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [4]:
# Search for a number X in the tuple [1,4,9,16,25,36,49,64,81,100].. using loops
i = 0
found = False

while i < len(t):
    if t[i] == x:
        found = True
        break
    i += 1

print(x," is present in the tuple" if found else "X is not present in the tuple")

9  is present in the tuple

In [5]:
t = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
X = 36

for i in t:
    if i == X:
        print("X is present in the tuple")
        break
else:
    print("X is not present in the tuple")

X is present in the tuple

In [6]:
t = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
X = 36

for i in t:
    if i != X:
        continue   # skip all elements that are not X
    print("X is present in the tuple")
    break
else:
    print("X is not present in the tuple")

X is present in the tuple

In [7]:
i=0
while i<=5:
  if(i==3):
    i+=1
    continue
  print(i)
  i+=1

0
1
2
4
5

In [18]:
a=(6,5,4,3,2,1,0)
for val in a:
  print(":",val)

print("\nThis is the entire array:",a)
print("\nNow printing an array")
for b in a:
  print(a)

: 6
: 5
: 4
: 3
: 2
: 1
: 0

This is the entire array: (6, 5, 4, 3, 2, 1, 0)

Now printing an array
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)
(6, 5, 4, 3, 2, 1, 0)